
vs2019/SoftRasterizer.sln
vs2019/SoftRasterizer.vcxproj
vs2019/SoftRasterizer.vcxproj.filters
vs2019/UnitTest.vcxproj
vs2019/UnitTest.vcxproj.filters
build/debug/SoftRasterizer.exe
build/debug/SoftRasterizer.ilk
build/debug/SoftRasterizer.pdb
build/debug/UnitTest.exe
build/debug/UnitTest.ilk
build/debug/UnitTest.pdb
build/release/UnitTest.exe
build/release/UnitTest.pdb
vs2019/.vs/SoftRasterizer/v16/.suo
vs2019/.vs/SoftRasterizer/v16/Browse.VC.db
vs2019/.vs/SoftRasterizer/v16/Browse.VC.db-shm
vs2019/.vs/SoftRasterizer/v16/Browse.VC.db-wal
vs2019/.vs/SoftRasterizer/v16/Browse.VC.opendb
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/11b2e0089cc64763/MAIN.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/25b1ffb08d9e2a07/MAIN.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/351e11dcf115e8f2/MAT4.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/3a83db2beb003550/PLANE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/438e1e0e99c66dc5/CAPSULE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/47de3ec0cd688699/COLOR.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/4aac8e7a47e1cd5b/COLOR.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/8c59c00b6c002eb/MAT4.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/8f84124b625767ed/COLOR.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/a4b1777d880a5306/UNIT_TEST.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/a768e913850fb104/CYLINDER.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/a8bb4d4970380fd6/MAT4.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/aa0bcc1a7166aee9/COMMON.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/b18832d7d19ac54f/SPHERE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/b8304fe0b755dcfd/VEC3.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/c294970bfd571eba/VERTEX.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/c74ecda56cf496e/VEC2.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/cbcf59b554dacfaa/UNIT_TEST.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/ce83d78ddc1689e6/RAY.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/f6e1b33553c03888/COLOR1.ipch
vs2019/.vs/SoftRasterizer/v16/Solution.VC.db
vs2019/.vs/SoftRasterizer/v16/Solution.VC.db-shm
vs2019/.vs/SoftRasterizer/v16/Solution.VC.db-wal
vs2019/obj/linux64/Debug/UnitTest/unit_test.obj
vs2019/obj/linux64/Debug/UnitTest/UnitTest.log
vs2019/obj/linux64/Debug/UnitTest/UnitTest.tlog/CL.command.1.tlog
vs2019/obj/linux64/Debug/UnitTest/UnitTest.tlog/CL.read.1.tlog
vs2019/obj/linux64/Debug/UnitTest/UnitTest.tlog/CL.write.1.tlog
vs2019/obj/linux64/Debug/UnitTest/UnitTest.tlog/link.command.1.tlog
vs2019/obj/linux64/Debug/UnitTest/UnitTest.tlog/link.read.1.tlog
vs2019/obj/linux64/Debug/UnitTest/UnitTest.tlog/link.write.1.tlog
vs2019/obj/linux64/Debug/UnitTest/UnitTest.tlog/UnitTest.lastbuildstate
vs2019/obj/linux64/Debug/UnitTest/UnitTest.tlog/unsuccessfulbuild
vs2019/obj/linux64/Debug/UnitTest/vc142.idb
vs2019/obj/linux64/Debug/UnitTest/vc142.pdb
vs2019/obj/Win64/Debug/SoftRasterizer/main.obj
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.exe.recipe
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.log
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.tlog/CL.command.1.tlog
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.tlog/CL.read.1.tlog
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.tlog/CL.write.1.tlog
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.tlog/link.command.1.tlog
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.tlog/link.read.1.tlog
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.tlog/link.write.1.tlog
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.tlog/SoftRasterizer.lastbuildstate
vs2019/obj/Win64/Debug/SoftRasterizer/vc142.idb
vs2019/obj/Win64/Debug/SoftRasterizer/vc142.pdb
vs2019/obj/Win64/Debug/UnitTest/unit_test.obj
vs2019/obj/Win64/Debug/UnitTest/UnitTest.exe.recipe
vs2019/obj/Win64/Debug/UnitTest/UnitTest.log
vs2019/obj/Win64/Debug/UnitTest/UnitTest.tlog/CL.command.1.tlog
vs2019/obj/Win64/Debug/UnitTest/UnitTest.tlog/CL.read.1.tlog
vs2019/obj/Win64/Debug/UnitTest/UnitTest.tlog/CL.write.1.tlog
vs2019/obj/Win64/Debug/UnitTest/UnitTest.tlog/link.command.1.tlog
vs2019/obj/Win64/Debug/UnitTest/UnitTest.tlog/link.read.1.tlog
vs2019/obj/Win64/Debug/UnitTest/UnitTest.tlog/link.write.1.tlog
vs2019/obj/Win64/Debug/UnitTest/UnitTest.tlog/UnitTest.lastbuildstate
vs2019/obj/Win64/Debug/UnitTest/vc142.idb
vs2019/obj/Win64/Debug/UnitTest/vc142.pdb
vs2019/obj/Win64/Release/UnitTest/unit_test.obj
vs2019/obj/Win64/Release/UnitTest/UnitTest.exe.recipe
vs2019/obj/Win64/Release/UnitTest/UnitTest.log
vs2019/obj/Win64/Release/UnitTest/UnitTest.tlog/CL.command.1.tlog
vs2019/obj/Win64/Release/UnitTest/UnitTest.tlog/CL.read.1.tlog
vs2019/obj/Win64/Release/UnitTest/UnitTest.tlog/CL.write.1.tlog
vs2019/obj/Win64/Release/UnitTest/UnitTest.tlog/link.command.1.tlog
vs2019/obj/Win64/Release/UnitTest/UnitTest.tlog/link.read.1.tlog
vs2019/obj/Win64/Release/UnitTest/UnitTest.tlog/link.write.1.tlog
vs2019/obj/Win64/Release/UnitTest/UnitTest.tlog/UnitTest.lastbuildstate
vs2019/obj/Win64/Release/UnitTest/vc142.pdb
vs2019/SoftRasterizer.vcxproj.user
vs2019/UnitTest.vcxproj.user
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/2c5f3add21c7af0b/CAMERA.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/18ae4db032177563/TEXTURE_MANAGER.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/227b5a10ab60ef7b/ID_ALLOCATOR.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/22df39cf753d2c5b/RENDER_DEVICE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/3a79228e429c007f/RENDERER.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/50d719a3efbd32c3/FRAMEBUFFER.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/580081329d166257/TEXTURE_MANAGER.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/61dab9104273a791/RAW_BUFFER.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/6d00dc75225d26f7/SCANLINE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/7fc9824f7ac2e31b/TEXTURE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/8dd1d4dc6b64dd40/MODEL_IMPORTER.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/8f9b21f58b1100a0/WINDOW.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/9d19300344bf09d9/MATERIAL.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/a1544e1fae90fe78/RENDER_DEVICE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/aad81c849b7643cf/RENDER_DEVICE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/af49a5ff079ffb2d/SHADER_MANAGER.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/c4c322af327f07d5/MODEL_IMPORTER.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/e8b24243fa520050/SCREEN.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/fcafd111958afc6c/SCENE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/fda36e5b68f75e28/UTIL.ipch
vs2019/obj/linux64/Debug/SoftRasterizer/SoftRasterizer.log
vs2019/obj/linux64/Debug/SoftRasterizer/SoftRasterizer.tlog/CL.command.1.tlog
vs2019/obj/linux64/Debug/SoftRasterizer/SoftRasterizer.tlog/SoftRasterizer.lastbuildstate
vs2019/obj/linux64/Debug/SoftRasterizer/SoftRasterizer.tlog/unsuccessfulbuild
vs2019/obj/linux64/Debug/SoftRasterizer/vc142.idb
vs2019/obj/linux64/Debug/SoftRasterizer/vc142.pdb
vs2019/obj/Win64/Debug/UnitTest/texture_manager.obj
vs2019/obj/Win64/Debug/UnitTest/UnitTest.tlog/link.7668-cvtres.read.1.tlog
vs2019/obj/Win64/Debug/UnitTest/UnitTest.tlog/link.7668-cvtres.write.1.tlog
vs2019/obj/Win64/Debug/UnitTest/UnitTest.tlog/link.7668-rc.read.1.tlog
vs2019/obj/Win64/Debug/UnitTest/UnitTest.tlog/link.7668-rc.write.1.tlog
vs2019/obj/Win64/Debug/UnitTest/UnitTest.tlog/link.7668.read.1.tlog
vs2019/obj/Win64/Debug/UnitTest/UnitTest.tlog/link.7668.write.1.tlog
vs2019/obj/Win64/Debug/UnitTest/UnitTest.tlog/unsuccessfulbuild
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/1cdfeeaa0fd9c081/TRIANGLE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/26de9bdba3ca2c80/RASTERIZER.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/cfc314c62bafb4cd/AABB2D.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/f2a0d110840c0dc1/LINE_DRAWER.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/1841961ca8bdc4a/CAPSULE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/1ef2b4a84e0ef493/PLANE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/5872f0f7185867a2/RENDER_DEVICE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/682fee96578c06b3/RAY.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/6a1a346d72c014b9/CYLINDER.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/747c88095e5134c1/AABB.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/79c2480c07fa21c9/RAY.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/9ae236404b4b27e/SPHERE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/f161e3de4cb12f8d/MAIN.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/f6cd0a6d038ac77d/POLYGON.ipch
vs2019/obj/Win64/Release/SoftRasterizer/main.obj
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.exe.recipe
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.log
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.tlog/CL.command.1.tlog
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.tlog/CL.read.1.tlog
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.tlog/CL.write.1.tlog
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.tlog/link.command.1.tlog
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.tlog/link.read.1.tlog
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.tlog/link.write.1.tlog
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.tlog/SoftRasterizer.lastbuildstate
vs2019/obj/Win64/Release/SoftRasterizer/vc142.pdb
build/release/SoftRasterizer.pdb
build/release/SoftRasterizer.exe
build/release/SoftRasterizer.pdb
build/release/SoftRasterizer.exe
build/release/SoftRasterizer.pdb
build/release/SoftRasterizer.exe
build/release/SoftRasterizer.pdb
build/release/SoftRasterizer.exe
build/release/SoftRasterizer.pdb
*.pdb
*.exe
build/release/SoftRasterizer.exe
build/release/SoftRasterizer.pdb
build/release/SoftRasterizer.pdb
build/release/SoftRasterizer.exe
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/17400800bc791fb3/NOISE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/a95446b418e64645/MAIN.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/eda393c8b1d41b14/CAMERA.ipch
build/release/SoftRasterizer.exe
build/release/SoftRasterizer.pdb
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/29dca0be94364297/MAIN.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/58eb6f10581c1a40/MATERIAL.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/b5249480cced5f42/MATERIAL.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/d71df1fc4de4892c/SHADER.ipch
vs2019/obj/linux64/Release/SoftRasterizer/SoftRasterizer.tlog/unsuccessfulbuild
vs2019/obj/linux64/Release/SoftRasterizer/SoftRasterizer.tlog/SoftRasterizer.lastbuildstate
vs2019/obj/linux64/Release/SoftRasterizer/SoftRasterizer.tlog/link.write.1.tlog
vs2019/obj/linux64/Release/SoftRasterizer/SoftRasterizer.tlog/link.read.1.tlog
vs2019/obj/linux64/Release/SoftRasterizer/SoftRasterizer.tlog/link.command.1.tlog
vs2019/obj/linux64/Release/SoftRasterizer/SoftRasterizer.tlog/CL.write.1.tlog
vs2019/obj/linux64/Release/SoftRasterizer/SoftRasterizer.tlog/CL.read.1.tlog
vs2019/obj/linux64/Release/SoftRasterizer/SoftRasterizer.tlog/CL.command.1.tlog
vs2019/obj/linux64/Release/SoftRasterizer/SoftRasterizer.log
vs2019/obj/linux64/Release/SoftRasterizer/main.obj
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/fd3f85e68efdcc41/SCENE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/ef86245514c9179a/RENDER_DEVICE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/651604fb6c119f1a/RENDER_DEVICE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/4c872df109ce6cef/SCENE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/345bc0fa4812f213/MAIN.ipch
vs2019/obj/linux64/Debug/SoftRasterizer/SoftRasterizer.tlog/link.write.1.tlog
vs2019/obj/linux64/Debug/SoftRasterizer/SoftRasterizer.tlog/link.read.1.tlog
vs2019/obj/linux64/Debug/SoftRasterizer/SoftRasterizer.tlog/link.command.1.tlog
vs2019/obj/linux64/Debug/SoftRasterizer/SoftRasterizer.tlog/CL.write.1.tlog
vs2019/obj/linux64/Debug/SoftRasterizer/SoftRasterizer.tlog/CL.read.1.tlog
vs2019/obj/linux64/Debug/SoftRasterizer/main.obj
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/f805165c14bc60c7/RENDERER.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/debd8a82a2950d60/DEBUG_HEAP.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/c7faef7dfc724678/MATERIAL.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/ade0e6e7a09f4f3f/MODEL_IMPORTER.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/a274de85c00be2/MATERIAL.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/87c542d28e158924/FREE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/8461079bda4e6e39/TEXTURE_IMPORTER.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/76dc3fe9f1806c72/FREE_BASE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/76da64dcf7705a88/RENDERER.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/6c1381af842d7dc8/XTHROW.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/64753fe05ecbaa7a/RENDER_DEVICE.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/28a232b54646acf6/MATERIAL.ipch
vs2019/test.ply
vs2019/StanfordPLY.vcxproj.user
vs2019/StanfordPLY.vcxproj.filters
vs2019/StanfordPLY.vcxproj
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.tlog/StanfordPLY.lastbuildstate
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.tlog/link.write.1.tlog
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.tlog/link.read.1.tlog
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.tlog/link.command.1.tlog
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.tlog/CL.write.1.tlog
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.tlog/CL.read.1.tlog
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.tlog/CL.command.1.tlog
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.log
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.exe.recipe
vs2019/obj/Win64/Release/StanfordPLY/plytest.obj
vs2019/obj/Win64/Debug/StanfordPLY/vc142.idb
vs2019/obj/Win64/Debug/StanfordPLY/StanfordPLY.tlog/StanfordPLY.lastbuildstate
vs2019/obj/Win64/Debug/StanfordPLY/StanfordPLY.tlog/link.write.1.tlog
vs2019/obj/Win64/Debug/StanfordPLY/StanfordPLY.tlog/link.read.1.tlog
vs2019/obj/Win64/Debug/StanfordPLY/StanfordPLY.tlog/link.command.1.tlog
vs2019/obj/Win64/Debug/StanfordPLY/StanfordPLY.tlog/CL.write.1.tlog
vs2019/obj/Win64/Debug/StanfordPLY/StanfordPLY.tlog/CL.read.1.tlog
vs2019/obj/Win64/Debug/StanfordPLY/StanfordPLY.tlog/CL.command.1.tlog
vs2019/obj/Win64/Debug/StanfordPLY/StanfordPLY.log
vs2019/obj/Win64/Debug/StanfordPLY/StanfordPLY.exe.recipe
vs2019/obj/Win64/Debug/StanfordPLY/plytest.obj
vs2019/bun000.ply
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/f2a946c1aa233d12/MODEL.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/dc2b3c3dbbcc8ca6/MAIN.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/7b038d37d2d6111/PLYTEST.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/1cfcd45c5adb81bb/PLYTEST.ipch
build/debug/StanfordPLY.ilk
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/a1ae4bd2b6c57837/MAIN.ipch
