
vs2019/.vs/SoftRasterizer/v16/.suo
vs2019/.vs/SoftRasterizer/v16/Browse.VC.db
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/fac1e10676729efd/MAIN.ipch
vs2019/.vs/SoftRasterizer/v16/Solution.VC.db
vs2019/bin/Debug/assimpd.dll
vs2019/bin/Debug/assimpd.lib
vs2019/bin/Debug/res/backpack/ao.jpg
vs2019/bin/Debug/res/backpack/backpack.mtl
vs2019/bin/Debug/res/backpack/backpack.obj
vs2019/bin/Debug/res/backpack/diffuse.jpg
vs2019/bin/Debug/res/backpack/normal.png
vs2019/bin/Debug/res/backpack/roughness.jpg
vs2019/bin/Debug/res/backpack/source_attribution.txt
vs2019/bin/Debug/res/backpack/specular.jpg
vs2019/bin/Debug/res/ply/bun000.ply
vs2019/bin/Debug/res/textures/misc_Garbage_2k_alb_1.jpg
vs2019/bin/Debug/res/textures/misc_Garbage_2k_nY+_1.jpg
vs2019/bin/Debug/res/textures/pavingstones_decorative2_2k_h_1.jpg
vs2019/bin/Debug/res/textures/pavingstones_decorative2_2k_n_1.jpg
vs2019/bin/Debug/SoftRasterizer.exe
vs2019/bin/Debug/SoftRasterizer.ilk
vs2019/bin/Debug/SoftRasterizer.pdb
vs2019/bin/release/assimp.dll
vs2019/bin/release/assimp.lib
vs2019/bin/release/res/backpack/ao.jpg
vs2019/bin/release/res/backpack/backpack.mtl
vs2019/bin/release/res/backpack/backpack.obj
vs2019/bin/release/res/backpack/diffuse.jpg
vs2019/bin/release/res/backpack/normal.png
vs2019/bin/release/res/backpack/roughness.jpg
vs2019/bin/release/res/backpack/source_attribution.txt
vs2019/bin/release/res/backpack/specular.jpg
vs2019/bin/release/res/ply/bun000.ply
vs2019/bin/release/res/textures/misc_Garbage_2k_alb_1.jpg
vs2019/bin/release/res/textures/misc_Garbage_2k_nY+_1.jpg
vs2019/bin/release/res/textures/pavingstones_decorative2_2k_h_1.jpg
vs2019/bin/release/res/textures/pavingstones_decorative2_2k_n_1.jpg
vs2019/bin/release/SoftRasterizer.exe
vs2019/bin/release/SoftRasterizer.pdb
vs2019/bin/release/StanfordPLY.exe
vs2019/bin/release/StanfordPLY.pdb
vs2019/obj/Win64/Debug/SoftRasterizer/main.obj
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.exe.recipe
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.log
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.tlog/CL.command.1.tlog
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.tlog/CL.read.1.tlog
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.tlog/CL.write.1.tlog
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.tlog/link.command.1.tlog
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.tlog/link.read.1.tlog
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.tlog/link.write.1.tlog
vs2019/obj/Win64/Debug/SoftRasterizer/SoftRasterizer.tlog/SoftRasterizer.lastbuildstate
vs2019/obj/Win64/Debug/SoftRasterizer/vc142.idb
vs2019/obj/Win64/Debug/SoftRasterizer/vc142.pdb
vs2019/obj/Win64/Release/SoftRasterizer/main.obj
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.exe.recipe
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.log
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.tlog/CL.command.1.tlog
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.tlog/CL.read.1.tlog
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.tlog/CL.write.1.tlog
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.tlog/link.command.1.tlog
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.tlog/link.read.1.tlog
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.tlog/link.write.1.tlog
vs2019/obj/Win64/Release/SoftRasterizer/SoftRasterizer.tlog/SoftRasterizer.lastbuildstate
vs2019/obj/Win64/Release/SoftRasterizer/vc142.pdb
vs2019/obj/Win64/Release/StanfordPLY/plytest.obj
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.exe.recipe
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.log
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.tlog/CL.command.1.tlog
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.tlog/CL.read.1.tlog
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.tlog/CL.write.1.tlog
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.tlog/link.command.1.tlog
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.tlog/link.read.1.tlog
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.tlog/link.write.1.tlog
vs2019/obj/Win64/Release/StanfordPLY/StanfordPLY.tlog/StanfordPLY.lastbuildstate
vs2019/obj/Win64/Release/StanfordPLY/vc142.pdb
vs2019/obj/Win64/Release/UnitTest/UnitTest.log
vs2019/obj/Win64/Release/UnitTest/UnitTest.tlog/CL.command.1.tlog
vs2019/obj/Win64/Release/UnitTest/UnitTest.tlog/UnitTest.lastbuildstate
vs2019/obj/Win64/Release/UnitTest/UnitTest.tlog/unsuccessfulbuild
vs2019/obj/Win64/Release/UnitTest/vc142.pdb
vs2019/SoftRasterizer.sln
vs2019/SoftRasterizer.vcxproj
vs2019/SoftRasterizer.vcxproj.filters
vs2019/SoftRasterizer.vcxproj.user
vs2019/StanfordPLY.vcxproj
vs2019/StanfordPLY.vcxproj.filters
vs2019/UnitTest.vcxproj
vs2019/UnitTest.vcxproj.filters
vs2019/.vs/SoftRasterizer/v16/Browse.VC.db-shm
vs2019/.vs/SoftRasterizer/v16/Browse.VC.db-wal
vs2019/.vs/SoftRasterizer/v16/Browse.VC.opendb
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/a1ae4bd2b6c57837/MAIN.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/fc6fed067778f200/BITWISEENUM.ipch
vs2019/.vs/SoftRasterizer/v16/Solution.VC.db-shm
vs2019/.vs/SoftRasterizer/v16/Solution.VC.db-wal
vs2019/bin/Debug/res/textures/Carpet_OfficePlain_2k_alb_1.jpg
vs2019/bin/Debug/res/textures/Carpet_OfficePlain_2k_g_1.jpg
vs2019/bin/Debug/res/textures/Carpet_OfficePlain_2k_h_1.jpg
vs2019/bin/Debug/res/textures/Carpet_OfficePlain_2k_n_1.jpg
vs2019/bin/Debug/res/textures/Carpet_OfficePlain_2k_nY+_1.jpg
vs2019/bin/Debug/res/textures/Carpet_OfficePlain_2k_s_1.jpg
vs2019/bin/release/res/textures/Carpet_OfficePlain_2k_alb_1.jpg
vs2019/bin/release/res/textures/Carpet_OfficePlain_2k_g_1.jpg
vs2019/bin/release/res/textures/Carpet_OfficePlain_2k_h_1.jpg
vs2019/bin/release/res/textures/Carpet_OfficePlain_2k_n_1.jpg
vs2019/bin/release/res/textures/Carpet_OfficePlain_2k_nY+_1.jpg
vs2019/bin/release/res/textures/Carpet_OfficePlain_2k_s_1.jpg
vs2019/bin/Debug/res/cubemap/lake_back.jpg
vs2019/bin/Debug/res/cubemap/lake_bottom.jpg
vs2019/bin/Debug/res/cubemap/lake_front.jpg
vs2019/bin/Debug/res/cubemap/lake_left.jpg
vs2019/bin/Debug/res/cubemap/lake_right.jpg
vs2019/bin/Debug/res/cubemap/lake_top.jpg
vs2019/bin/release/res/cubemap/lake_back.jpg
vs2019/bin/release/res/cubemap/lake_bottom.jpg
vs2019/bin/release/res/cubemap/lake_front.jpg
vs2019/bin/release/res/cubemap/lake_left.jpg
vs2019/bin/release/res/cubemap/lake_right.jpg
vs2019/bin/release/res/cubemap/lake_top.jpg
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/1e552ab64442aa5e/MAIN.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/4ad51c9ad6ff0a55/LIGHTING.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/4d77c20ccd3fb027/STENCIL.ipch
vs2019/.vs/SoftRasterizer/v16/ipch/AutoPCH/e4ee734be4d84047/LIGHTING.ipch
vs2019/bin/release/CommonDemo.exe
vs2019/bin/release/CommonDemo.pdb
vs2019/bin/release/LightingDemo.exe
vs2019/bin/release/LightingDemo.pdb
vs2019/bin/release/StencilDemo.exe
vs2019/bin/release/StencilDemo.pdb
vs2019/CommonDemo.vcxproj
vs2019/CommonDemo.vcxproj.filters
vs2019/CommonDemo.vcxproj.user
vs2019/LightingDemo.vcxproj
vs2019/LightingDemo.vcxproj.filters
vs2019/LightingDemo.vcxproj.user
vs2019/obj/Win64/Release/CommonDemo/CommonDemo.exe.recipe
vs2019/obj/Win64/Release/CommonDemo/CommonDemo.log
vs2019/obj/Win64/Release/CommonDemo/CommonDemo.tlog/CL.command.1.tlog
vs2019/obj/Win64/Release/CommonDemo/CommonDemo.tlog/CL.read.1.tlog
vs2019/obj/Win64/Release/CommonDemo/CommonDemo.tlog/CL.write.1.tlog
vs2019/obj/Win64/Release/CommonDemo/CommonDemo.tlog/CommonDemo.lastbuildstate
vs2019/obj/Win64/Release/CommonDemo/CommonDemo.tlog/link.command.1.tlog
vs2019/obj/Win64/Release/CommonDemo/CommonDemo.tlog/link.read.1.tlog
vs2019/obj/Win64/Release/CommonDemo/CommonDemo.tlog/link.write.1.tlog
vs2019/obj/Win64/Release/CommonDemo/main.obj
vs2019/obj/Win64/Release/CommonDemo/vc142.pdb
vs2019/obj/Win64/Release/LightingDemo/lighting.obj
vs2019/obj/Win64/Release/LightingDemo/LightingDemo.exe.recipe
vs2019/obj/Win64/Release/LightingDemo/LightingDemo.log
vs2019/obj/Win64/Release/LightingDemo/LightingDemo.tlog/CL.command.1.tlog
vs2019/obj/Win64/Release/LightingDemo/LightingDemo.tlog/CL.read.1.tlog
vs2019/obj/Win64/Release/LightingDemo/LightingDemo.tlog/CL.write.1.tlog
vs2019/obj/Win64/Release/LightingDemo/LightingDemo.tlog/LightingDemo.lastbuildstate
vs2019/obj/Win64/Release/LightingDemo/LightingDemo.tlog/link.command.1.tlog
vs2019/obj/Win64/Release/LightingDemo/LightingDemo.tlog/link.read.1.tlog
vs2019/obj/Win64/Release/LightingDemo/LightingDemo.tlog/link.write.1.tlog
vs2019/obj/Win64/Release/LightingDemo/vc142.pdb
vs2019/obj/Win64/Release/StencilDemo/stencil.obj
vs2019/obj/Win64/Release/StencilDemo/StencilDemo.exe.recipe
vs2019/obj/Win64/Release/StencilDemo/StencilDemo.log
vs2019/obj/Win64/Release/StencilDemo/StencilDemo.tlog/CL.command.1.tlog
vs2019/obj/Win64/Release/StencilDemo/StencilDemo.tlog/CL.read.1.tlog
vs2019/obj/Win64/Release/StencilDemo/StencilDemo.tlog/CL.write.1.tlog
vs2019/obj/Win64/Release/StencilDemo/StencilDemo.tlog/link.command.1.tlog
vs2019/obj/Win64/Release/StencilDemo/StencilDemo.tlog/link.read.1.tlog
vs2019/obj/Win64/Release/StencilDemo/StencilDemo.tlog/link.write.1.tlog
vs2019/obj/Win64/Release/StencilDemo/StencilDemo.tlog/StencilDemo.lastbuildstate
vs2019/obj/Win64/Release/StencilDemo/vc142.pdb
vs2019/StencilDemo.vcxproj
vs2019/StencilDemo.vcxproj.filters
vs2019/StencilDemo.vcxproj.user
